<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp.Light"
        tools:targetApi="31"> <!-- use a Light-only theme, only works for Android 10+ or API 29+ -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <!--<activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Client.MapActivity" />
        <activity android:name=".Client.ProfileActivity"/>
        <activity android:name=".Client.RatingsActivity"/>
        <activity android:name=".MessagesActivity"/>
        <activity android:name=".Client.SearchActivity"/>
        <activity android:name=".Client.RegisterActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Business.AddOrEditClassActivity"/>
        <activity android:name=".Business.BusinessHomeActivity"/>
        <activity android:name=".Business.CoursesActivity"/>
        <activity android:name=".Client.CalendarActivity"/>
        <activity android:name=".Client.SearchResultsActivity"/>
        <activity android:name=".Business.BusinessProfileActivity"/>
        <activity android:name=".Business.StatusActivity"/>
        <activity android:name=".Business.BusinessRegisterActivity"/>
        <activity android:name=".Business.BusinessCalendarActivity"/>
        <activity android:name=".Client.HistoryActivity"/>
        <activity android:name=".Client.UpdateClientActivity"/>

    </application>

</manifest>